<%= form_for @user do |f| %>

  <p>
    <%= f.label :first_name, :class => 'standard-text' %><br>
    <%= f.text_field :first_name %>
  </p>

  <p>
    <%= f.label :last_name, :class => 'standard-text' %><br>
    <%= f.text_field :last_name %>
  </p>

  <p>
    <%= f.label :username, :class => 'standard-text' %><br>
    <%= f.text_field :username %>
  </p>

  <p>
    <%= f.label :password, :class => 'standard-text' %><br>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.label :description, :class => 'standard-text' %><br>
    <%= f.text_field :description %>
  </p>

  <p>
    <%= f.label :image, :class => 'standard-text' %>
    <%= f.file_field :image %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
