<h1 class="mar-l-2">Projects</h1>

<div class="row mar-t-1 mar-b-1">
  <div class="col-md-1"></div>
  <div class="grid-full col-md-10">
    <div class="projects">
      <div class="slick-container"><!--Slide 1-->
        <%= link_to image_tag("projects/blog_project.png", class: "slick-image"), posts_path %>
        <div class="slick-text">Personal Blog: Ruby on Rails Object-Oriented Project</div>
      </div>
      <div class="slick-container"><!--Slide 2-->
        <%= link_to image_tag("projects/flickr_api_project.png", class: "slick-image"), flickr_path %>
        <div class="slick-text">Flickr Photo Scraping Tool: Javascript, jQuery, and Ajax Flickr Web App</div>
      </div>
      <div class="slick-container"><!--Slide 3-->
        <%= link_to image_tag("projects/ooj_quiz_project.png", class: "slick-image"), quiz_path  %>
        <div class="slick-text">My Movie Quiz: Object-Oriented Javascript and jQuery</div>
      </div>
      <div class="slick-container"><!--Slide 4-->
        <a href="http://studionow.herokuapp.com/"><%= image_tag("projects/studionow_project.png", class: "slick-image") %></a>
        <div class="slick-text">StudioNow: Ruby on Rails Object-Oriented Web App</div>
      </div>
      <div class="slick-container"><!--Slide 5-->
        <a href="http://wikijamz.herokuapp.com/"><%= image_tag("projects/wikijamz_project.png", class: "slick-image") %></a>
        <div class="slick-text">Wikijamz: Ruby on Rails Object-Oriented Web App</div>
      </div>
      <div class="slick-container"><!--Slide 6-->
        <%= link_to image_tag("projects/512game.png", class: "slick-image"), "http://512game.bitballoon.com/" %>
        <div class="slick-text">512 Tile Game: Object-Oriented Javascript and jQuery</div>
      </div>
      <div class="slick-container"><!--Slide 7-->
        <%= link_to image_tag("projects/sql-img.png", class: "slick-image"), sql_path %>
        <div class="slick-text">SQL Reference Sheet</div>
      </div>
      <div class="slick-container"><!--Slide 8-->
        <%= link_to image_tag("projects/ruby-on-rails.png", class: "slick-image"), active_record_path %>
        <div class="slick-text">Active Record Reference Sheet</div>
      </div>
      <div class="slick-container"><!--Slide 9-->
        <%= link_to image_tag("projects/angular_todo.png", class: "slick-image"), "http://jims-angular-todo-list.bitballoon.com/" %>
        <div class="slick-text">Todo List: AngularJS</div>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
<div class="row mar-t-3">
  <div class="blog-container"><center>
    <p class="standard-text">Hi there, my name is Jim.  Welcome to my website!</p>
    <p class="standard-text">I built this website from scratch using HTML, CSS, Ruby on Rails, JavaScript, and jQuery.<br>I am using a PostgreSQL database hosted on Heroku.</p>
    <p class="standard-text">To learn more about me, check out my <%= link_to 'About Me', about_path %> page, <%= link_to 'Resume', resume_path %>, or <%= link_to 'Blog', posts_path %>!</p>
    <a href="https://www.linkedin.com/in/jamesponeal"><%= image_tag("icons/linkedin-icon.png", class: "icon") %></a>
    <a href="https://github.com/jamesponeal"><%= image_tag("icons/github-icon.png", class: "icon") %></a>
    <a href="https://twitter.com/jamesponeal"><%= image_tag("icons/twitter-icon.png", class: "icon") %></a>
  </center></div>
</div>

<script>
  $('#login-bar').removeClass();
  $('#nav-bar').removeClass();
  $('#login-bar').hide();
  $('#nav-bar').addClass('col-md-12');
  $('.nav-link').removeClass('nav-highlight');
  $('.project-link').addClass('nav-highlight');

  $('.projects').slick({
    dots: true,
    infinite: true,
    slidesToShow: 3,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: 3000
  });
</script>