<%= form_for @post do |f| %>

  <p>
    <%= f.label :title, :class => 'standard-text' %><br>
    <%= f.text_field :title %>
  </p>

  <%= f.cktext_area :content %>

  <p class="mar-t-1">
    <%= f.submit %>
  </p>

<% end %>
