<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <nav class="clearfix mar-b-1">
      <ul class="no-bullets no-margin no-padding right" id="append-login">
        <% if session[:user_id] == nil %>
          <li class="pipe-separate left"><%= link_to 'Create Account', new_user_path %></li>
          <li class="pipe-separate left login"><%= link_to 'Login', new_user_path, remote: true %></li>
          <li class="pipe-separate left"><%= link_to 'Home', root_path %></li>
        <% elsif session[:user_id] != nil %>
          <li class="pipe-separate left"><%= link_to current_user.username, user_path(current_user) %></li>
          <li class="pipe-separate left"><%= link_to 'Logout', logout_path %></li>
          <li class="pipe-separate left"><%= link_to 'Home', root_path %></li>
        <% end %>
      </ul>
    </nav>

    <%= yield %>
  </div>

</body>
</html>
