<!DOCTYPE html>
<html>
<head>
  <title>Jim's Page</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="row background-2e342a">
  <div class="col-md-1"> </div>
  <div class="col-md-10">
    <div class="row">
      <nav class="col-md-6">
        <span class="pipe-separate"><%= link_to 'Home', root_path %></span>
        <span class="pipe-separate"><%= link_to 'Blog', posts_path %></span>
        <span class="pipe-separate"><%= link_to 'Resume', resume_path %></span>
      </nav>
      <nav class="col-md-6" id="append-login">
        <% if !logged_in? %>
          <span class="pipe-separate"><%= link_to 'Create Account', new_user_path %></span>
          <span class="pipe-separate login"><%= link_to 'Login', new_user_path, remote: true %></span>
          <span class="pipe-separate"><%= link_to 'Home', root_path %></span>
        <% elsif logged_in? %>
          <span class="pipe-separate"><%= link_to current_user.username, user_path(current_user) %></span>
          <span class="pipe-separate"><%= link_to 'Logout', logout_path %></span>
          <span class="pipe-separate"><%= link_to 'Home', root_path %></span>
        <% end %>
      </nav>
    </div>

    <%= yield %>
  </div>
  <div class="col-md-1"> </div>
</body>
</html>
