<!DOCTYPE html>
<html>
<head>
  <title>Jim's Page</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
  <%= csrf_meta_tags %>
</head>
<body class="row background-FFFBF7">
  <div class="row">
    <nav id="nav-bar" class="col-md-6">
      <span class="pipe-separate"><%= link_to 'Home', root_path, :class => "nav-link home-link" %></span>
      <span class="pipe-separate"><%= link_to 'About Me', about_path, :class => "nav-link about-link" %></span>
      <span class="pipe-separate"><%= link_to 'Blog', posts_path, :class => "nav-link blog-link" %></span>
      <span class="pipe-separate"><%= link_to 'Resume', resume_path, :class => "nav-link resume-link" %></span>
      <span class="pipe-separate"><%= link_to 'Projects', home_path, :class => "nav-link project-link" %></span>
    </nav>
    <nav id="login-bar" class="col-md-6">
        <% if !logged_in? %>
          <span class="pipe-separate"><%= link_to 'Create Account', new_user_path, :class => "nav-link create-link" %></span>
          <span class="pipe-separate login"><%= link_to 'Login', new_user_path, :class => "nav-link", remote: true %></span>
        <% elsif logged_in? %>
          <span class="pipe-separate"><%= link_to current_user.username, user_path(current_user), :class => "nav-link profile-link" %></span>
          <span class="pipe-separate"><%= link_to 'Logout', logout_path, :class => "nav-link" %></span>
        <% end %>
    </nav>
  </div>
  <div id="append-login"></div>
  <div class="animsition">
    <%= yield %>
  </div>
</body>
</html>
